doctype html
html
    head
        include ../head.jade
    body
        #wrap
            .left_wrap
                include adminHeader.jade
            .right_wrap
                h2.admin_title 상품등록
                .admin_content
                    form#product_add(action="/admin/product/add", method="post", enctype="multipart/form-data")
                        ul
                            li
                                label(for="product_name") 상품명 : 
                            li
                                input#product_name(type="text" name="product_name" required)
                        ul
                            li
                                label(for="product_image") 이미지 : 
                            li
                                input#product_image(type="file" name="product_image" required)
                        ul
                            li
                                label(for="product_type") 상품분류 : 
                            li 
                                select#product_type(name="product_type" required)
                                    option(value="racket") 테니스 라켓
                                    option(value="etc") 테니스 용품
                                    option(value="cloth") 테니스 의류
                        ul
                            li
                                label(for="product_brand") 브랜드 : 
                            li
                                input#product_brand(type="text" name="product_brand" required)
                        ul
                            li
                                label(for="product_price") 가격 : 
                            li
                                input#product_price(type="number" name="product_price" value="0" required)
                                | &nbsp;원
                        ul
                            li 재고 옵션 : 
                            li
                                .product_option_area
                                    label(for="option_null") 옵션 없음
                                    input#option_null(type="number" name="option_number_null" min="0" value="0" required)
                                .product_option_area
                                    label(for="option_small") S
                                    input#option_small(type="number" name="option_number_small" min="0" value="0" required)
                                .product_option_area
                                    label(for="option_medium") M
                                    input#option_medium(type="number" name="option_number_medium" min="0" value="0" required)
                                .product_option_area
                                    label(for="option_large") L
                                    input#option_large(type="number" name="option_number_large" min="0" value="0" required)
                        ul
                            li
                                label(for="product_content") 상품설명 :
                            li
                                textarea#product_content(name="product_content" required)
                        ul
                            li &nbsp
                            li
                                button#product_add_ok_btn(type="submit") 등록
                        

                
        include ../script.jade