doctype html
html
	head
		include head.jade
	body
		#wrap
			include header.jade
			#contents
				.wrap
					#mainVisual
						img(src='/images/mainVisual.png' alt='mainVisual' title='mainVisual')
		include script.jade